.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-KmhSbTMIG);
  min-width: 0;
  min-height: 0;
}
.freeBox__sEbe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.sideBar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 240px;
  left: 0px;
  top: 0px;
  z-index: 2;
  height: 100vh;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sideBar:global(.__wab_instance) {
    display: none;
  }
}
.menuItem___8Gu8F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ks2Pv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__fWwOz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.menuItem__xMC4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eQuZi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__h91Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.menuItem__ycc4C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wrXg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__h91Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.menuItem__zUtdV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yITbp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text___6CXw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__juuAm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: radial-gradient(
    ellipse 46% 47% at 49% 38%,
    var(--token-h7bPPLdez) 0%,
    var(--token-KmhSbTMIG) 100%
  );
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 100%;
  left: auto;
  top: 0px;
  z-index: 1;
  right: 0px;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.walletConnectContent:global(.__wab_instance) {
  max-width: 100%;
}
.content2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.items {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem__oQccc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__rNVeP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img__rNVeP > picture > img {
  object-fit: cover;
}
.img__rNVeP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qt2JV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem__ng9Ds:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img___4V21 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img___4V21 > picture > img {
  object-fit: cover;
}
.img___4V21 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__eVdr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.items3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem__xk3EC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__lWpi4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img__lWpi4 > picture > img {
  object-fit: cover;
}
.img__lWpi4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__kpyea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.items4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem__b2Q25:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img___8Op8T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img___8Op8T > picture > img {
  object-fit: cover;
}
.img___8Op8T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__aw1Ah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__j3N8Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-h7bPPLdez);
  min-width: 0;
  padding: 32px 0px 0px;
}
.freeBox__mLl01 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
  padding: 0px 16px 24px;
}
.freeBox__cb3OV {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cb3OV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__cb3OV > :global(.__wab_flex-container) > *,
.freeBox__cb3OV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cb3OV > :global(.__wab_flex-container) > picture > img,
.freeBox__cb3OV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.avatarBadge:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.freeBox__fW9Av {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fW9Av > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox__fW9Av > :global(.__wab_flex-container) > *,
.freeBox__fW9Av > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fW9Av > :global(.__wab_flex-container) > picture > img,
.freeBox__fW9Av
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.heading__bQfs6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-CxAlfCIQE);
}
.text__rFarb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__uCpxY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-PtVaz3HWv);
}
.text__mLjE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__bUIU {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bUIU > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__bUIU > :global(.__wab_flex-container) > *,
.freeBox__bUIU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bUIU > :global(.__wab_flex-container) > picture > img,
.freeBox__bUIU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__oedt9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.heading__wZmNu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-CxAlfCIQE);
}
.text__taIZd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.content {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
  padding: 32px 16px 16px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.assetContainer__sVvwT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.assetItems__rCtxR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img___7WY6U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  margin-right: 0;
}
.img___7WY6U > picture > img {
  object-fit: cover;
}
.img___7WY6U > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.heading__zKRmE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__btEk5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ivSmf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.heading__b4YnJ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__msMJj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__nq5LI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.assetItems__rb7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__jeTzg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  margin-right: 0;
}
.img__jeTzg > picture > img {
  object-fit: cover;
}
.img__jeTzg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.heading__gPajx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__a4Vka {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__sm9Yt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.heading__rBzrB:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__uRz0X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__t8NL {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.assetItems___3T6P2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img___03Xjh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  margin-right: 0;
}
.img___03Xjh > picture > img {
  object-fit: cover;
}
.img___03Xjh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.heading___2Y7EH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__gs9Y5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___3TSDx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.heading__sq01L:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__mfqL7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__gFs0J {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.assetItems__e0KxB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__dmqG1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  margin-right: 0;
}
.img__dmqG1 > picture > img {
  object-fit: cover;
}
.img__dmqG1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.heading___6Dc4N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__m5PqY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___1FbWe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.heading__vJzWc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__jmje {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__w9Hq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.heading__or0Nf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__ud8Rl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading___8BGA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
  padding-right: 34px;
}
.text__fzyc2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.assetContainer__etSlO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.assetItems___1Lhhg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__wMk1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  margin-right: 0;
}
.img__wMk1 > picture > img {
  object-fit: cover;
}
.img__wMk1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.heading__vshli:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__qxCex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__aoWvu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.heading__kPmQx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__rVEzh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__u4JD3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: #ffffff;
}
.heading___9Vkuo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
}
.text__k2FDk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.heading__rrXgl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
  width: auto;
  padding-right: 34px;
}
.text___7XuBr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
