.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KmhSbTMIG);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox___8I5Zo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.sideBar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 240px;
  left: 0px;
  top: 0px;
  z-index: 2;
  height: 100vh;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sideBar:global(.__wab_instance) {
    display: none;
  }
}
.menuItem__q68Tc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uk6Ov {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__fWwOz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.menuItem__yWngl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vBe1J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__h91Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.menuItem___9NhZg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pchGu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__h91Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.menuItem___1W1HW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wZvL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text___6CXw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__bLkCu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: radial-gradient(
    ellipse 46% 47% at 49% 38%,
    var(--token-h7bPPLdez) 0%,
    var(--token-KmhSbTMIG) 100%
  );
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  width: 100%;
  left: auto;
  top: 0px;
  z-index: 1;
  right: 0px;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.walletConnectContent:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hm4Wf {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kIq0D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem___9YQEc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img___8Ri8Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img___8Ri8Q > picture > img {
  object-fit: cover;
}
.img___8Ri8Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qt2JV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__zukxl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem__t87PS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__kupb7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img__kupb7 > picture > img {
  object-fit: cover;
}
.img__kupb7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__eVdr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__lru2R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem__w4H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__aMWc3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img__aMWc3 > picture > img {
  object-fit: cover;
}
.img__aMWc3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__kpyea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__mlqA1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.walletConnectItem__bp6N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__q1Uim {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.img__q1Uim > picture > img {
  object-fit: cover;
}
.img__q1Uim > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__aw1Ah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.content {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50rem;
  min-width: 0;
  padding: 32px 16px 16px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__rdnxw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  border-radius: 12px;
}
.aspectRatio:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.image__dYvHs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kLoBa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  min-width: 0;
}
.freeBox__kLoBa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kLoBa > :global(.__wab_flex-container) > *,
.freeBox__kLoBa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kLoBa > :global(.__wab_flex-container) > picture > img,
.freeBox__kLoBa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.heading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-CxAlfCIQE);
}
.text__p7Lhf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__vZnvg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-PtVaz3HWv);
  font-size: 14px;
  min-width: 0;
}
.inputGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.inputLeftElement:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg___8Xyn2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  width: 1em;
  height: 1em;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.tableContainer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  color: var(--token-CxAlfCIQE);
  background: var(--token-h7bPPLdez);
  overflow: hidden;
  box-shadow: 0px 12px 24px 0px var(--token-KmhSbTMIG);
  min-width: 0;
  border-radius: 12px;
}
.table:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.thead:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tr__ff1CX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #535353;
}
.th__jyNtk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  border-color: var(--token-Hl-9jXrqY);
}
.text__tiMtV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-PtVaz3HWv);
  min-width: 0;
}
.th___8R2Ln:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: var(--token-Hl-9jXrqY);
  border-width: 1px;
}
.text__jotxf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-PtVaz3HWv);
  min-width: 0;
}
.th__tme0Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: var(--token-Hl-9jXrqY);
  border-width: 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .th__tme0Y:global(.__wab_instance) {
    display: none;
  }
}
.text__wpL9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-PtVaz3HWv);
  min-width: 0;
}
.th___3Opk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: var(--token-Hl-9jXrqY);
  border-width: 1px;
}
.text__oWgfD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-PtVaz3HWv);
  min-width: 0;
}
.tbody:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tr__cLaav:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__lfzyg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link__aex3J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img__m2Trf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__m2Trf > picture > img {
  object-fit: cover;
}
.img__m2Trf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__fQ0Hz {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox__jc1Hz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img___7F5Za {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img___7F5Za > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img___7F5Za > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__zsdf0 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text___5VFkQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text__zAcx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr___0Bbmn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__iQaqp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link__qHknm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img___6O0Cb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img___6O0Cb > picture > img {
  object-fit: cover;
}
.img___6O0Cb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__vyJxE {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox___7Ej1E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__skDeA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__skDeA > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__skDeA > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__pEraa {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text__kiPS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text__lQy2G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__cpXOu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__ieNha:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link__yJb1M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img___14Yb2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img___14Yb2 > picture > img {
  object-fit: cover;
}
.img___14Yb2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__cyKui {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox__ivj1P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__wMnf9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__wMnf9 > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__wMnf9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__av6M {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text___0T1GX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text__dW2B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__faMKw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__arR2B:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link___69C3L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img___4Uab {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img___4Uab > picture > img {
  object-fit: cover;
}
.img___4Uab > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__vyWqx {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox__fh1XV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__rFZgs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__rFZgs > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__rFZgs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__nd6SU {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text___3Wn6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text__oGhLc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__rmipg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td___8E11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link__kxHhD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img___55K3P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img___55K3P > picture > img {
  object-fit: cover;
}
.img___55K3P > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__b2UIr {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox__yr7SC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__eOiTm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__eOiTm > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__eOiTm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__yyuAv {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text___0F4Ao {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text__yr1Ks {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__juBlp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__gHuOi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link__xO2Gr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img__byRa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__byRa > picture > img {
  object-fit: cover;
}
.img__byRa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__yfhZ {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox__cRpkg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__mUz2M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__mUz2M > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__mUz2M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text___7KTfm {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text___5AMd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text__kRxIx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__gdWzv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td___494Jt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link__uOzVp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img__qzI8X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__qzI8X > picture > img {
  object-fit: cover;
}
.img__qzI8X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__hhrSw {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox__sGybo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__lKtdQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__lKtdQ > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__lKtdQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__lJcvw {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text__wKplM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text___1Iscb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tr__hVs1A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td__wtOex:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: none;
}
.link__buUHw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-CxAlfCIQE);
  cursor: pointer;
  min-width: 0;
  min-height: 0;
}
.img__cdpak {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__cdpak > picture > img {
  object-fit: cover;
}
.img__cdpak > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0Ihw {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__gydVm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-style: none;
}
.freeBox__h2Ejx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__g9Ac2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 24px;
  margin-right: 12px;
  flex-shrink: 0;
}
.img__g9Ac2 > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__g9Ac2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__tE4AI {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__hxRo1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .td__hxRo1:global(.__wab_instance) {
    display: none;
  }
}
.text__s9DvW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__eeSe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 700;
  border-width: 1px;
  border-style: none;
}
.text__wIGz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
